{% extends 'dashboard.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    <p>{{error}}</p>

{% endblock %}


    {#
    <a href="" class="classic-btn">Test</a>
    <a href="" class="void-btn">Test</a>
    <a href="" class="alert-btn">Test</a>
    <label class="switch">
        <input type="checkbox">
        <div class="slider round"></div>
    </label>#}